body{
    text-align: center;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(8, 39, 66), rgb(65, 105, 225));
}

p, h1, li, h2{
    color: white;    
}

ul{
    display: block;
}

li a:hover:not(.active){
    background-color: #111111;
}
a:hover{
    text-decoration: none;
}

.nav-bar a:link,.nav-bar a:visited{
    
    padding: 14px 25px;    
    text-decoration: none;
    color: white;
    display: inline-block;
}

#nav-ol{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-bar li{
    list-style-type: none; 
    float: left;   
    text-align: justify;
}

.nav-bar ol{
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to top left, rgb(8, 39, 66), rgb(65, 105, 225));
    border-bottom: 3px solid #111111 ;
}

#quem-sou, #habilidades-orgulho, #outras-habilidades, #redes-sociais{
    text-align: center;
}

#redes-sociais {
    float: right; 
}

.body-1{
    display: block;
    margin-top: 80px;
    z-index: 1;
}

.img-bg{
    background-image: url(ed-dev.png);
    background-size: cover;
    width: 100%;
    height: 600px;
    
}


.body-2{
    display: block;
}